.chat-layout {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 300px auto;
    min-height: 600px;
    border: 2px solid purple;
    position: relative;
    .chat-side-bar {
        height: 600px;
        padding-left: 5px;
        overflow: auto;
        border-right: 1px solid pink;
        .list__item {
            margin-top: 2px;
            cursor: pointer;
            &:hover {
                background-color: aliceblue;
            }
            &.active {
                background-color: gold;
            }
        }
    }
    .chat-main-bar {
        position: relative;
        .current-info {
            min-height: 50px;
            border-bottom: 1px solid grey;
            .left {
                padding: 5px;
               display: flex;
                .avatar-box{
                    margin-right: 5px;
                    
                    img{
                        height: 40px;
                        width: 40px;
                        border-radius: 20px;
                    }
                }
                .name {
                    font-weight: bold;
                    font-size: 1.1rem;
                    text-transform: capitalize;
                }
                .position {
                }
            }
        }
        .chat-content {
            padding: 10px;
            height: 500px;
            overflow: auto;
            li {
                margin-top: 20px;
                width: 100%;

                display: flex;
                justify-content: flex-start;

                .chat-row {
                    max-width: calc(100% - 100px);
                    border: 1px solid pink;
                    padding: 5px;
                    border-radius: 10px;
                    display: flex;
                    min-height: 40px;
                    align-items: center;
                    position: relative;
                    flex-direction: column;
                    .chat-row-icon {
                        position: absolute;
                        top: 100%;
                        left: 100%;
                        transform: translate(-80%, -50%);
                    }
                    img {
                        max-width: 300px;
                    }
                }

                &.right {
                    justify-content: flex-end;
                    .chat-row {
                        background-color: aliceblue;
                    }
                }
            }
        }
        .input-box {
            margin: 5px 10px;
            height: 50px;
            border: 1px solid gold;
            border-radius: 25px;
            display: grid;
            grid-template-columns: 50px auto 100px;
            overflow: hidden;
            position: absolute;
            bottom: 0;
            width: calc(100% - 20px);
            .attach-box {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                overflow: hidden;
                input.attach-input {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    opacity: 0;
                    z-index: 5;
                }
                button {
                    border-top-right-radius: 25px;
                    border-bottom-right-radius: 25px;
                    border: none;
                    cursor: pointer;
                }
            }
            > input.text-input {
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                border: none;
                padding-left: 10px;
            }
            > button {
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                border: none;
                cursor: pointer;
            }
        }
    }

    .attach-model {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        .attach-card {
            width: 100%;
            height: 100%;
            background-color: #8ce296;
            padding: 10px;
            .file_box {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    max-height: 350px;
                    max-width: 500px;
                }
            }
            .caption-box {
                margin-top: 50px;
                display: flex;
                justify-content: center;
                > input {
                    width: calc(100% - 100px);
                    line-height: 30px;
                    padding: 3px;
                    border-radius: 5px;
                }
            }
            .close-box{
                width: 40px;
                height: 40px;
                border: 2px solid red;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
            .send-box {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 25px;
                button{
                    padding: 5px 20px;
                    background-color: #4c00ff;
                    color: gold;
                    text-transform: capitalize;
                    cursor: pointer;
                }
            }
        }
    }
}
