.home-page{
    display: grid;
    grid-template-columns: 1fr;

    &.admin{
        @media (min-width: 768px) {
            .right-side-bar{
                display: none;
            }
            .task-box-list{
                display: grid;
                grid-template-columns: repeat(5,1fr);
                // grid-gap: 5px;
            }
            &.hasProposal{
                grid-template-columns: 2fr 1fr; 
                .right-side-bar{
                    display: block;
                } 
                .task-box-list{
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                }
            }
        }
      
        
    }

    .task-box-list{
        >div{
            border: 1px solid greenyellow;
            >.box-card{
                .card-header{
                    padding-left: 10px;
                    line-height: 40px;
                    font-weight: 700;
                    font-size: 1.2rem;
                    border-bottom: 1px solid #e4e7ed;
                    display: flex;
                    justify-content: space-between;
                    
                }
                padding: 5px;
            }
        }
    }

    .recent-task-list{
        li{
            margin-top: 5px;
            cursor: pointer;
            display: grid;
            grid-template-columns: 30px auto;
            padding: 3px 0;
            border: 1px solid #0000001f;
            border-radius: 10px;
            padding: 5px;
            &:hover{
                background-color: azure;
            }
            .text-box{
                
             display: flex;
             align-items: center;
            }
            .avatar-box{
                grid-row-start: 1;
                grid-row-end: 3;
            }
            .task-line{
                display: flex;
                justify-content: space-between;
                
                .center{
                    text-align: center;
                }
            }
        }
    }

    .employee-proposals{
        li{
            cursor: pointer;
            display: grid;
            grid-template-columns: 45px auto;
            padding: 3px 0;
            border-bottom: 1px solid #0000001f;
            &:last-child{
                border-bottom: none;
            }
            &:hover{
                background-color: azure;
            }
            .avatar-box{
                grid-row-start: 1;
                grid-row-end: 4;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .line-one{
                >div{
                    display: flex;
                    justify-content: space-between;
                }
            }
            .line-two{
                display: flex;
                justify-content: space-around;
                margin-top: 5px;
            }
        }
    }
}