.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .login-btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .redirect-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
  }

  .el-card{
    min-width: 400px;
  }
  
 

  
    


 
}