.task-show{
    padding-top: 20px;
    .top-part{
        display: flex;
        justify-content: space-between;
       
    }
    .description{
        margin-top: 20px;
        padding:10px;
    }
  
    
}