.task-show{
    padding-top: 20px;
    .top-part{
        display: flex;
        justify-content: space-between;
       
    }
    .description{
        margin-top: 20px;
        padding:10px;
    }
    .comment-layout{
        margin-top: 40px;
        .comment-list{
            &-item{
              
                .inner{
                    display: grid;
                    grid-template-columns: 50px auto 50px;
                }

                .action-bar{
                    margin-top: 5px;
                    margin-bottom: 5px;
                    padding-left: 50px;
                }
                .text-box{
                    background-color: #e6e9ec;
                    padding: 5px;
                    border-radius: 5px;
                    max-width: calc(100% - 100px);
                    >p:first-child{
                        display: flex;
                        justify-content: space-between;
                    }
                }
                .action-bar{
                    .action-bar-inner{
                        display: flex;
                        justify-content: space-between;
                        max-width: calc(100% - 130px);
                        button{
                           
                            padding: 2px 10px;
                            overflow: hidden;
                            border-radius: 5px;
                            font-size: .8rem;
                            cursor: pointer;
                            border: 1px solid #d4dee7;
                            color: #000dab;
                            display: flex;
                            align-items: center;
                
                            &:hover{
                                background-color: azure;
                                border: 1px solid #0a6cce;
                            }
                       
                        }
                        .action-list{
                            min-width: 300px;
                            max-width: 350px;
                            display: flex;
                            justify-content: space-around;
                           
                        }

                    }
                   
                }

                .comment-list{
                    padding-left: 50px;
                }

            }
        }
    }
    
}