.va-input-wrapper,.va-select{
width: 100%;
}
.inner-loading__overlay{
z-index: 2!important;
}

table {
    .right{
        >*{
            float: right;
        }
        text-align: right !important;
    }
}
.flex-right{
    display: flex;
    justify-content: right;
}

.va-modal.form-sceen{
    .va-modal--fullscreen{
        background-color: rgb(29 2 2 / 22%)!important;
        .va-modal__inner{
            background-color: var(--va-background-primary);
        }
    }
}

.in-box{
    min-height: 55px;
 
}