.va-input-wrapper,.va-select{
width: 100%;
}
.inner-loading__overlay{
z-index: 2!important;
}
small{
    font-size: 80%!important;
}
.text-muted{
    color: #777;
}
.filter-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    >.right-side{
        display: flex;
        justify-content: flex-end;
    }
}
.drop-down-list{
    padding: 0!important;
    margin: 0!important;
    >li{
        line-height: 30px;
        cursor: pointer;
        margin: 0;
        padding: 0 5px;
        &:hover{
            background-color: #f1ecec;
        }
    }
}
table {
    .right{
        >*{
            float: right;
        }
        text-align: right !important;
    }
}
.flex-right{
    display: flex;
    justify-content: right;
}

.va-modal.form-sceen{
    .va-modal--fullscreen{
        background-color: rgb(29 2 2 / 22%)!important;
        .va-modal__inner{
            background-color: var(--va-background-primary);
        }
    }
}

.in-box{
    min-height: 55px;
 
}


.el-menu{
    .el-menu-item{
        &.is-active{
            color: black;
            background-color: pink;
        } 
    }
    .el-sub-menu{
        &.is-active{
            color: goldenrod;
            background-color: pink;

            .el-menu-item{
                &.is-active{
                    color: #409eff!important;
                    background-color: transparent;
                } 
            }
        }
    }
}